*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}
.screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #75a4db 0%, #485563 100%);
    height: 100vh;
    width: 100vW;
    transition: margin 0.5s ease-out;
}
a{
    text-decoration: none;
    color: rgb(21, 153, 224);
}
a:hover{
    color: aqua;
}
.up{
    margin-top:-100vh;
}
.time-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
.time-list li{
    margin: 5px;
}
.time-btn{
    background-color: transparent;
    border: 2px solid #c0c0c0;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    font-size: 24px;
}
.time-btn:hover{
    color: rgb(232, 214, 13);
    border: 2px solid rgb(232, 214, 13);
}
.board{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    height: 500px;
    background: linear-gradient(120deg, #f2f5f8 -4.5%,#000000d8 200%);
    box-shadow: -8px -8px 20px #cf079d, 18px 7px 20px #d7de0c;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 20px;
}
.circle{
    background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
}